* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#main-div {
    width: 25rem;
    height: 25rem;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 4rem;
}

#screen-div {
    border: 1px dotted black;
    width: 12rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

#button-div {
    border: 1px dotted black;
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

button {
    margin: 0.5rem;
}