* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    padding: 0.5rem;
    margin: 0.5rem;
}

.screen-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    border: 1px dotted black;
    height: 2rem;
    width: 16rem;
}

.button-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px dotted black;
    height: 16rem;
    width: 16rem;

}

.row {
    flex-grow: 1;
    align-self: center;
    border: 1px dotted red;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: inherit;
}